@import '~antd/dist/antd.css';

.logo{
  height: 50px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
  border-top: 1px solid #eee;
}
main .title-box{
  background: #fff;
  width:100%;
  padding:20px;
  position: relative;
}
main .content-box{
  padding: 20px;
  minHeight: 360px;
  height: 100vh
}
main .ant-breadcrumb{
  padding: 0 0 16px 0;
  background: #fff
}



